<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
		<title>AKI Helper HomePage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='/static/assets/css/main.css'>
		<noscript><link rel="stylesheet" type="text/css" href="/static/assets/css/noscript.css" /></noscript>
	</head>
    <body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <div class="logo">
                    <span class="icon fa fa-stethoscope"></span>
                </div>
                <div class="content">
                    <div class="inner">
                        <h1 style="font-family: 宋體;font-size: 5.5rem; ">智腎關鍵</h1>
                        <h1 style="font-family: 宋體;font-size: 3rem; ">AKI HELPER</h1>
                        <p style=" font-size: 1.2rem;">人工智慧即時預測急性腎衰竭 Real-time Acute Kidney Injury Prediction</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#intro">Intro</a></li>
                        <li><a href="#Database">DataBase</a></li>
                        <li><a href="#aboutModel">Model</a></li>
                        <li><a href="#predict">predict</a></li>
						<li><a href="#logout">Logout</a></li>
                    </ul>
                </nav>
            </header>

            <div id="main">
                <!-- Intro -->
                <article id="intro">
                    <h2 class="major">Intro</h2>
                    <span class="image main"><img src="/static/images/money.jpeg" alt="" /></span>
                    <span style="font-family: 隸變;font-size: 1.2rem">
                        <p>&emsp;&emsp;據環保署統計，台灣2018年的洗腎人數突破9萬人，醫療費用一年需耗損約449億元，洗腎人口密度高居全球之冠，國人的腎臟問題不容忽視。
                        <br>&emsp;&emsp;腎臟問題牽扯的因子複雜、多樣化且參雜干擾性數據，我們以急性腎衰竭(Acute Kidney Injury, AKI)為目標，希望透過機器學習的方式訓練出一套模型能對AKI做時序性的預測，觀察病患在時間的推移下發生AKI的機率曲線分布，協助醫生做出判斷，達到爭取治療時間、降低治療成本以及提升整體醫療品質之目的。<br/>
                        &emsp;&emsp;我們將Feature切分為四個小時一個單位的時序性資料做LSTM模型的訓練，模型會根據現有病患資料預測24小時內發生AKI的機率，每四個小時輸出一個機率。最後以此時序性模型作為基礎，測試成大醫院所提供的資料以觀察模型泛用性和實用性，並架設網站呈現結果方便醫師用來輔助預測AKI。</p>
                    </span>
                </article>

                <!-- Work -->
                <article id="Database">
                    <h2 class="major">DataBase Introduction</h2>
                    <span class="image main"><img src="/static/images/pic02.jpg" alt="" /></span>
                    <p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                    <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
                </article>

                <article id="aboutModel">
                    <h2 class="major">DataBase Introduction</h2>
                    <span class="image main"><img src="/static/images/pic02.jpg" alt="" /></span>
                    <p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>

                </article>

                <article id="logout">
                    <h2 class="major">Sure u want to Logout ?</h2>
                    {% if user.is_authenticated %}
                        <form action="/logout">
                        <button href="/logout" style="line-height:44px;height: 42px;text-align-all: center;color:white;font-size:30px;text-decoration: none">Logout</button>
                        </form>
                    {% endif %}
                </article>

                <!-- Contact -->
                <article id="predict">
                    <h2 class="major">Source</h2>
                    <form method="post" action="#">
                        <ul class="actions" style="padding-left: 30%;">
                            <li><a href="#predictsingle" ><input type="button" value="Single Patient" class="primary" /></a></li>
                        </ul>
                    </form>
                    <form method="post" action="#" style="padding-left: 30%;">
                        <ul class="actions">
                            <li><a href="#predictfile"><input type="button" value="Upload ur file" class="primary" /></a></li>
                        </ul>
                    </form>
                </article>

                <article id="predictfile">
                    <label for="document"><h2 class="major">Upload File(csv files):</h2></label>
                    <form action="/predictresultforfile/" method="post" action="#contact" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="document" style="font-family: 隸變;">
                        <button type="submit" name="Upload">Upload</button>
                    </form>
                </article>

                <article id="11">
                    <h2 class="major">Predict</h2>
                    <form action="/predictresultforinput/" method="post">
                        <div class="row" style="content:''; display: table;clear: both;width: 100%;padding: 0.5rem;">
                            <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                                <label for="Age" style="font-size: 1.2rem;">Age:</label>
                                <input type="text" name="Age" placeholder="Years" style="size: 30px;text-align: center">
                            </div>
                            <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                                <label for="Weight" style="font-size: 1.2rem;">Weight:</label>
                                <input type="text" name="Weight" placeholder="kg" style="size: 30px;text-align: center">
                            </div>
                            <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                                <label for="Gender" style="font-size: 1.2rem;">Gender:</label>
                                <input type="text" name="Gender" placeholder="F / M" style="size: 30px;text-align: center">
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
{#                        columns below#}
                    </form>
                </article>



                <article id="predictsingle">
                <h2 class="major">Predict</h2>
                    <form action="/predictresultforinput/" method="post" style="height:450px;width: 100%;overflow: scroll;">
                            {% csrf_token %}
                        <div style="overflow: paged-y;">
                            <table class="content-table" id="datatable" border="1" style="overflow: scroll;width: 1420px;padding: 5.5rem">
                                <thead >
                                <tr style="font-size: 1.5rem;">
                                    <th >feature</th>
                                    <th>24hrs~20hrs ago</th>
                                    <th>20hrs~16hrs ago</th>
                                    <th>16hrs~12hrs ago</th>
                                    <th>12hrs~8hrs ago</th>
                                    <th>8hrs~4hrs ago</th>
                                    <th>4hrs~0hrs ago</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="font-size: 1.5rem">Creatinine</td>
                                    <td><input type="text" name="Crt_{{ 0 }}" onfocus="this.placeholder='0.1~20(mg/dl)'" onblur="this.placeholder='Creatinine 24hrs~20hrs'" placeholder="Creatinine 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Crt_{{ 1 }}" onfocus="this.placeholder='0.1~20(mg/dl)'" onblur="this.placeholder='Creatinine 20hrs~16hrs'" placeholder="Creatinine 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Crt_{{ 2 }}" onfocus="this.placeholder='0.1~20(mg/dl)'" onblur="this.placeholder='Creatinine 20hrs~16hrs'" placeholder="Creatinine 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Crt_{{ 3 }}" onfocus="this.placeholder='0.1~20(mg/dl)'" onblur="this.placeholder='Creatinine 20hrs~16hrs'" placeholder="Creatinine 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Crt_{{ 4 }}" onfocus="this.placeholder='0.1~20(mg/dl)'" onblur="this.placeholder='Creatinine 8hrs~4hrs'" placeholder="Creatinine 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Crt_{{ 5 }}" onfocus="this.placeholder='0.1~20(mg/dl)'" onblur="this.placeholder='Creatinine 4hrs~0hrs'" placeholder="Creatinine 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Intake</td>
                                    <td><input type="text" name="Intake_{{ 0 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Intake 24hrs~20hrs'" placeholder="Intake 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Intake_{{ 1 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Intake 20hrs~16hrs'" placeholder="Intake 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Intake_{{ 2 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Intake 20hrs~16hrs'" placeholder="Intake 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Intake_{{ 3 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Intake 20hrs~16hrs'" placeholder="Intake 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Intake_{{ 4 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Intake 8hrs~4hrs'" placeholder="Intake 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Intake_{{ 5 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Intake 4hrs~0hrs'" placeholder="Intake 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Urine</td>
                                    <td><input type="text" name="Urine_{{ 0 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Urine 24hrs~20hrs'" placeholder="Urine 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Urine_{{ 1 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Urine 20hrs~16hrs'" placeholder="Urine 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Urine_{{ 2 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Urine 20hrs~16hrs'" placeholder="Urine 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Urine_{{ 3 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Urine 20hrs~16hrs'" placeholder="Urine 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Urine_{{ 4 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Urine 8hrs~4hrs'" placeholder="Urine 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Urine_{{ 5 }}" onfocus="this.placeholder='0~10000(ml)'"onblur="this.placeholder='Urine 4hrs~0hrs'" placeholder="Urine 4hrs~0hrs" style="text-align: center"></td>

                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">pH</td>
                                    <td><input type="text" name="pH_{{ 0 }}" onfocus="this.placeholder='6.8~7.8'"onblur="this.placeholder='pH 24hrs~20hrs'" placeholder="pH 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="pH_{{ 1 }}" onfocus="this.placeholder='6.8~7.8'"onblur="this.placeholder='pH 20hrs~16hrs'" placeholder="pH 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="pH_{{ 2 }}" onfocus="this.placeholder='6.8~7.8'"onblur="this.placeholder='pH 20hrs~16hrs'" placeholder="pH 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="pH_{{ 3 }}" onfocus="this.placeholder='6.8~7.8'"onblur="this.placeholder='pH 20hrs~16hrs'" placeholder="pH 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="pH_{{ 4 }}" onfocus="this.placeholder='6.8~7.8'"onblur="this.placeholder='pH 8hrs~4hrs'" placeholder="pH 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="pH_{{ 5 }}" onfocus="this.placeholder='6.8~7.8'"onblur="this.placeholder='pH 4hrs~0hrs'" placeholder="pH 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Hct</td>
                                    <td><input type="text" name="Hct_{{ 0 }}" onfocus="this.placeholder='10~70(%)'"onblur="this.placeholder='Hct 24hrs~20hrs'" placeholder="Hct 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Hct_{{ 1 }}" onfocus="this.placeholder='10~70(%)'"onblur="this.placeholder='Hct 20hrs~16hrs'" placeholder="Hct 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Hct_{{ 2 }}" onfocus="this.placeholder='10~70(%)'"onblur="this.placeholder='Hct 20hrs~16hrs'" placeholder="Hct 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Hct_{{ 3 }}" onfocus="this.placeholder='10~70(%)'"onblur="this.placeholder='Hct 20hrs~16hrs'" placeholder="Hct 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Hct_{{ 4 }}" onfocus="this.placeholder='10~70(%)'"onblur="this.placeholder='Hct 8hrs~4hrs'" placeholder="Hct 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Hct_{{ 5 }}" onfocus="this.placeholder='10~70(%)'"onblur="this.placeholder='Hct 4hrs~0hrs'" placeholder="Hct 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">BUN</td>
                                    <td><input type="text" name="BUN_{{ 0 }}" onfocus="this.placeholder='0~60(mg/dl)'"onblur="this.placeholder='BUN 24hrs~20hrs'" placeholder="BUN 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="BUN_{{ 1 }}" onfocus="this.placeholder='0~60(mg/dl)'"onblur="this.placeholder='BUN 20hrs~16hrs'" placeholder="BUN 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="BUN_{{ 2 }}" onfocus="this.placeholder='0~60(mg/dl)'"onblur="this.placeholder='BUN 20hrs~16hrs'" placeholder="BUN 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="BUN_{{ 3 }}" onfocus="this.placeholder='0~60(mg/dl)'"onblur="this.placeholder='BUN 20hrs~16hrs'" placeholder="BUN 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="BUN_{{ 4 }}" onfocus="this.placeholder='0~60(mg/dl)'"onblur="this.placeholder='BUN 8hrs~4hrs'" placeholder="BUN 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="BUN_{{ 5 }}" onfocus="this.placeholder='0~60(mg/dl)'"onblur="this.placeholder='BUN 4hrs~0hrs'" placeholder="BUN 4hrs~0hrs" style="text-align: center"></td>

                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Na</td>
                                    <td><input type="text" name="Na_{{ 0 }}" onfocus="this.placeholder='100~180(mmol/L)'"onblur="this.placeholder='Na 24hrs~20hrs'" placeholder="Na 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Na_{{ 1 }}" onfocus="this.placeholder='100~180(mmol/L)'"onblur="this.placeholder='Na 20hrs~16hrs'" placeholder="Na 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Na_{{ 2 }}" onfocus="this.placeholder='100~180(mmol/L)'"onblur="this.placeholder='Na 20hrs~16hrs'" placeholder="Na 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Na_{{ 3 }}" onfocus="this.placeholder='100~180(mmol/L)'"onblur="this.placeholder='Na 20hrs~16hrs'" placeholder="Na 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Na_{{ 4 }}" onfocus="this.placeholder='100~180(mmol/L)'"onblur="this.placeholder='Na 8hrs~4hrs'" placeholder="Na 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="Na_{{ 5 }}" onfocus="this.placeholder='100~180(mmol/L)'"onblur="this.placeholder='Na 4hrs~0hrs'" placeholder="Na 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">K</td>
                                    <td><input type="text" name="K_{{ 0 }}" onfocus="this.placeholder='1~9(mmol/L)'"onblur="this.placeholder='K 24hrs~20hrs'" placeholder="K 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="K_{{ 1 }}" onfocus="this.placeholder='1~9(mmol/L)'"onblur="this.placeholder='K 20hrs~16hrs'" placeholder="K 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="K_{{ 2 }}" onfocus="this.placeholder='1~9(mmol/L)'"onblur="this.placeholder='K 20hrs~16hrs'" placeholder="K 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="K_{{ 3 }}" onfocus="this.placeholder='1~9(mmol/L)'"onblur="this.placeholder='K 20hrs~16hrs'" placeholder="K 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="K_{{ 4 }}" onfocus="this.placeholder='1~9(mmol/L)'"onblur="this.placeholder='K 8hrs~4hrs'" placeholder="K 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="K_{{ 5 }}" onfocus="this.placeholder='1~9(mmol/L)'"onblur="this.placeholder='K 4hrs~0hrs'" placeholder="K 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Temperature</td>
                                    <td><input type="text" name="TP_{{ 0 }}" onfocus="this.placeholder='35~41(Celsius)'"onblur="this.placeholder='Temperature 24hrs~20hrs'" placeholder="Temperature 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="TP_{{ 1 }}" onfocus="this.placeholder='35~41(Celsius)'"onblur="this.placeholder='Temperature 20hrs~16hrs'" placeholder="Temperature 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="TP_{{ 2 }}" onfocus="this.placeholder='35~41(Celsius)'"onblur="this.placeholder='Temperature 20hrs~16hrs'" placeholder="Temperature 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="TP_{{ 3 }}" onfocus="this.placeholder='35~41(Celsius)'"onblur="this.placeholder='Temperature 20hrs~16hrs'" placeholder="Temperature 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="TP_{{ 4 }}" onfocus="this.placeholder='35~41(Celsius)'"onblur="this.placeholder='Temperature 8hrs~4hrs'" placeholder="Temperature 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="TP_{{ 5 }}" onfocus="this.placeholder='35~41(Celsius)'"onblur="this.placeholder='Temperature 4hrs~0hrs'" placeholder="Temperature 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Systolic BP</td>
                                    <td><input type="text" name="SystolicBP_{{ 0 }}" onfocus="this.placeholder='<250(mmHg)'"onblur="this.placeholder='Systolic BP 24hrs~20hrs'" placeholder="Systolic BP 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="SystolicBP_{{ 1 }}" onfocus="this.placeholder='<250(mmHg)'"onblur="this.placeholder='Systolic BP 20hrs~16hrs'" placeholder="Systolic BP 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="SystolicBP_{{ 2 }}" onfocus="this.placeholder='<250(mmHg)'"onblur="this.placeholder='Systolic BP 20hrs~16hrs'" placeholder="Systolic BP 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="SystolicBP_{{ 3 }}" onfocus="this.placeholder='<250mmHg)'"onblur="this.placeholder='Systolic BP 20hrs~16hrs'" placeholder="Systolic BP 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="SystolicBP_{{ 4 }}" onfocus="this.placeholder='<250(mmHg)'"onblur="this.placeholder='Systolic BP 8hrs~4hrs'" placeholder="Systolic BP 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="SystolicBP_{{ 5 }}" onfocus="this.placeholder='<250(mmHg)'"onblur="this.placeholder='Systolic BP 4hrs~0hrs'" placeholder="Systolic BP 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">Mean BP</td>
                                    <td><input type="text" name="MeanBP_{{ 0 }}" onfocus="this.placeholder='<200(mmHg)'"onblur="this.placeholder='Mean BP 24hrs~20hrs'" placeholder="Mean BP 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MeanBP_{{ 1 }}" onfocus="this.placeholder='<200(mmHg)'"onblur="this.placeholder='Mean BP 20hrs~16hrs'" placeholder="Mean BP 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MeanBP_{{ 2 }}" onfocus="this.placeholder='<200(mmHg)'"onblur="this.placeholder='Mean BP 20hrs~16hrs'" placeholder="Mean BP 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MeanBP_{{ 3 }}" onfocus="this.placeholder='<200(mmHg)'"onblur="this.placeholder='Mean BP 20hrs~16hrs'" placeholder="Mean BP 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MeanBP_{{ 4 }}" onfocus="this.placeholder='<200(mmHg)'"onblur="this.placeholder='Mean BP 8hrs~4hrs'" placeholder="Mean BP 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MeanBP_{{ 5 }}" onfocus="this.placeholder='<200(mmHg)'"onblur="this.placeholder='Mean BP 4hrs~0hrs'" placeholder="Mean BP 4hrs~0hrs" style="text-align: center"></td>

                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">MSI</td>
                                    <td><input type="text" name="MSI_{{ 0 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='MSI 24hrs~20hrs'" placeholder="MSI 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MSI_{{ 1 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='MSI 20hrs~16hrs'" placeholder="MSI 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MSI_{{ 2 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='MSI 20hrs~16hrs'" placeholder="MSI 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MSI_{{ 3 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='MSI 20hrs~16hrs'" placeholder="MSI 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MSI_{{ 4 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='MSI 8hrs~4hrs'" placeholder="MSI 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="MSI_{{ 5 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='MSI 4hrs~0hrs'" placeholder="MSI 4hrs~0hrs" style="text-align: center"></td>

                                </tr>
                                <tr>
                                    <td style="font-size: 1.5rem">eGFR</td>
                                    <td><input type="text" name="eGFR_{{ 0 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='Urine 24hrs~20hrs'" placeholder="eGFR 24hrs~20hrs" style="text-align: center"></td>
                                    <td><input type="text" name="eGFR_{{ 1 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='Urine 20hrs~16hrs'" placeholder="eGFR 20hrs~16hrs" style="text-align: center"></td>
                                    <td><input type="text" name="eGFR_{{ 2 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='Urine 20hrs~16hrs'" placeholder="eGFR 16hrs~12hrs" style="text-align: center"></td>
                                    <td><input type="text" name="eGFR_{{ 3 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='Urine 20hrs~16hrs'" placeholder="eGFR 12hrs~8hrs" style="text-align: center"></td>
                                    <td><input type="text" name="eGFR_{{ 4 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='Urine 8hrs~4hrs'" placeholder="eGFR 8hrs~4hrs" style="text-align: center"></td>
                                    <td><input type="text" name="eGFR_{{ 5 }}" onfocus="this.placeholder='<230'"onblur="this.placeholder='Urine 4hrs~0hrs'" placeholder="eGFR 4hrs~0hrs" style="text-align: center"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" style="content:''; display: table;clear: both;width: 100%;padding: 0.5rem;">
                            <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                                <label for="Age" style="font-size: 1.2rem;">Age:</label>
                                <input type="text" name="Age" placeholder="Years" style="size: 30px;text-align: center">
                            </div>
                            <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                                <label for="Weight" style="font-size: 1.2rem;">Weight:</label>
                                <input type="text" name="Weight" placeholder="kg" style="size: 30px;text-align: center">
                            </div>
                            <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                                <label for="Gender" style="font-size: 1.2rem;">Gender:</label>
                                <input type="text" name="Gender" placeholder="F / M" style="size: 30px;text-align: center">
                            </div>
                        </div>
                <input type="submit" value="Submit" name="OnlyOneData"style="width: 100%; left: 250px;">

    </form>
                </article>

{#                #end of article#}
            </div>

            <footer id="footer">
                <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
        </div>
        <div id="bg"></div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
    </body>
</html>