<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
		<title>AKI predictPage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='/static/assets/css/main.css'>
		<noscript><link rel="stylesheet" type="text/css" href="/static/assets/css/noscript.css" /></noscript>
</head>

<body>
    <h2 class="major">Predict</h2>
    <form action="/predictresultforinput/" method="post">
        <div class="row" style="content:''; display: table;clear: both;width: 100%;padding: 0.5rem;">
                <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                    <label for="Age" style="font-size: 30px;">Age:</label>
                    <input type="text" name="Age" placeholder="Years" style="size: 30px;text-align: center">
                </div>
                <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                    <label for="Weight" style="font-size: 30px;">Weight:</label>
                    <input type="text" name="Weight" placeholder="kg" style="size: 30px;text-align: center">
                </div>
                <div class="column" style="float: left;width: 33.33%;padding: 0.5rem;">
                    <label for="Gender" style="font-size: 30px;">Gender:</label>
                    <input type="text" name="Gender" placeholder="F / M" style="size: 30px;text-align: center">
                </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="primary" /></li>
                <li><input type="reset" value="Reset" /></li>
            </ul>
        </div>

            <select name="Time period">
                <option value="24hrs~20hrs ago<">
                    24hrs~20hrs ago
                </option>
            </select>

        <tr>
                        <td>Creatinine</td>
                        <td><input type="text" name="Crt_{{ 0 }}" placeholder="0.1~20(mg/dl)"></td>
                    </tr>
                    <tr>
                        <td>Intake</td>
                        <td><input type="text" name="Intake_{{ 0 }}" placeholder="0~10000(ml)"></td>
                    </tr>
                    <tr>
                        <td>Urine</td>
                        <td><input type="text" name="Urine_{{ 0 }}" placeholder="0~10000(ml)"></td>
                    </tr>
                    <tr>
                        <td>pH</td>
                        <td><input type="text" name="pH_{{ 0 }}" placeholder="6.8~7.8"></td>
                    </tr>
                    <tr>
                        <td>Hct</td>
                        <td><input type="text" name="Hct_{{ 0 }}" placeholder="10~70(%)"></td>
                    </tr>
                    <tr>
                        <td>BUN</td>
                        <td><input type="text" name="BUN_{{ 0 }}" placeholder="0~60(mg/dl)"></td>
                    </tr>
                    <tr>
                        <td>Na</td>
                        <td><input type="text" name="Na_{{ 0 }}" placeholder="100~180(mmol/L)"></td>
                    </tr>
                    <tr>
                        <td>K</td>
                        <td><input type="text" name="K_{{ 0 }}" placeholder="1~9(mmol/L)"></td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td><input type="text" name="TP_{{ 0 }}" placeholder="35~41(Celsius)"></td>
                    </tr>
                    <tr>
                        <td>Systolic BP</td>
                        <td><input type="text" name="SystolicBP_{{ 0 }}" placeholder="<250(mmHg)"></td>
                    </tr>
                    <tr>
                        <td>Mean BP</td>
                        <td><input type="text" name="MeanBP_{{ 0 }}" placeholder="<200(mmHg)"></td>
                    </tr>
                    <tr>
                        <td>MSI</td>
                        <td><input type="text" name="MSI_{{ 0 }}" placeholder="<230"></td>
                    </tr>
                    <tr>
                        <td>eGFR</td>
                        <td><input type="text" name="eGFR_{{ 0 }}" placeholder="<230"></td>

                    </tr>
{#        {% csrf_token %}#}
{#        <table class="content-table" id="datatable" border="1" style="width: 100%">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>feature</th>#}
{#                <th>24hrs~20hrs ago</th>#}
{#                <th>20hrs~16hrs ago</th>#}
{#                <th>16hrs~12hrs ago</th>#}
{#                <th>12hrs~8hrs ago</th>#}
{#                <th>8hrs~4hrs ago</th>#}
{#                <th>4hrs~0hrs ago</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td>Creatinine</td>#}
{#            <td><input type="text" name="Crt_{{ 0 }}" placeholder="0.1~20(mg/dl)"></td>\#}
{#            <td><input type="text" name="Crt_{{ 1 }}" placeholder="0.1~20(mg/dl)"></td>#}
{#            <td><input type="text" name="Crt_{{ 2 }}" placeholder="0.1~20(mg/dl)"></td>#}
{#            <td><input type="text" name="Crt_{{ 3 }}" placeholder="0.1~20(mg/dl)"></td>#}
{#            <td><input type="text" name="Crt_{{ 4 }}" placeholder="0.1~20(mg/dl)"></td>#}
{#            <td><input type="text" name="Crt_{{ 5 }}" placeholder="0.1~20(mg/dl)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="Crt_{{ i }}" placeholder="0.1~20"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Intake</td>#}
{#            <td><input type="text" name="Intake_{{ 0 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Intake_{{ 1 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Intake_{{ 2 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Intake_{{ 3 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Intake_{{ 4 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Intake_{{ 5 }}" placeholder="0~10000(ml)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="Intake_{{ i }}" placeholder="0~10000"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Urine</td>#}
{#            <td><input type="text" name="Urine_{{ 0 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Urine_{{ 1 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Urine_{{ 2 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Urine_{{ 3 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Urine_{{ 4 }}" placeholder="0~10000(ml)"></td>#}
{#            <td><input type="text" name="Urine_{{ 5 }}" placeholder="0~10000(ml)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="Urine_{{ i }}" placeholder="<3000"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>pH</td>#}
{#            <td><input type="text" name="pH_{{ 0 }}" placeholder="6.8~7.8"></td>#}
{#            <td><input type="text" name="pH_{{ 1 }}" placeholder="6.8~7.8"></td>#}
{#            <td><input type="text" name="pH_{{ 2 }}" placeholder="6.8~7.8"></td>#}
{#            <td><input type="text" name="pH_{{ 3 }}" placeholder="6.8~7.8"></td>#}
{#            <td><input type="text" name="pH_{{ 4 }}" placeholder="6.8~7.8"></td>#}
{#            <td><input type="text" name="pH_{{ 5 }}" placeholder="6.8~7.8"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="pH_{{ i }}" placeholder="6.8~7.8"></td>#}
{#                {% endfor %}#}
{##}
{#            </tr>#}
{#            <tr>#}
{#                <td>Hct</td>#}
{#            <td><input type="text" name="Hct_{{ 0 }}" placeholder="10~70(%)"></td>#}
{#            <td><input type="text" name="Hct_{{ 1 }}" placeholder="10~70(%)"></td>#}
{#            <td><input type="text" name="Hct_{{ 2 }}" placeholder="10~70(%)"></td>#}
{#            <td><input type="text" name="Hct_{{ 3 }}" placeholder="10~70(%)"></td>#}
{#            <td><input type="text" name="Hct_{{ 4 }}" placeholder="10~70(%)"></td>#}
{#            <td><input type="text" name="Hct_{{ 5 }}" placeholder="10~70(%)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="Hct_{{ i }}" placeholder="10~70"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>BUN</td>#}
{#            <td><input type="text" name="BUN_{{ 0 }}" placeholder="0~60(mg/dl)"></td>#}
{#            <td><input type="text" name="BUN_{{ 1 }}" placeholder="0~60(mg/dl)"></td>#}
{#            <td><input type="text" name="BUN_{{ 2 }}" placeholder="0~60(mg/dl)"></td>#}
{#            <td><input type="text" name="BUN_{{ 3 }}" placeholder="0~60(mg/dl)"></td>#}
{#            <td><input type="text" name="BUN_{{ 4 }}" placeholder="0~60(mg/dl)"></td>#}
{#            <td><input type="text" name="BUN_{{ 5 }}" placeholder="0~60(mg/dl)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="BUN_{{ i }}" placeholder="0~60"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Na</td>#}
{#            <td><input type="text" name="Na_{{ 0 }}" placeholder="100~180(mmol/L)"></td>#}
{#            <td><input type="text" name="Na_{{ 1 }}" placeholder="100~180(mmol/L)"></td>#}
{#            <td><input type="text" name="Na_{{ 2 }}" placeholder="100~180(mmol/L)"></td>#}
{#            <td><input type="text" name="Na_{{ 3 }}" placeholder="100~180(mmol/L)"></td>#}
{#            <td><input type="text" name="Na_{{ 4 }}" placeholder="100~180(mmol/L)"></td>#}
{#            <td><input type="text" name="Na_{{ 5 }}" placeholder="100~180(mmol/L)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="Na_{{ i }}" placeholder="100~180"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>K</td>#}
{#            <td><input type="text" name="K_{{ 0 }}" placeholder="1~9(mmol/L)"></td>#}
{#            <td><input type="text" name="K_{{ 1 }}" placeholder="1~9(mmol/L)"></td>#}
{#            <td><input type="text" name="K_{{ 2 }}" placeholder="1~9(mmol/L)"></td>#}
{#            <td><input type="text" name="K_{{ 3 }}" placeholder="1~9(mmol/L)"></td>#}
{#            <td><input type="text" name="K_{{ 4 }}" placeholder="1~9(mmol/L)"></td>#}
{#            <td><input type="text" name="K_{{ 5 }}" placeholder="1~9(mmol/L)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="K_{{ i }}" placeholder="1~9"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Temperature</td>#}
{#            <td><input type="text" name="TP_{{ 0 }}" placeholder="35~41(Celsius)"></td>#}
{#            <td><input type="text" name="TP_{{ 1 }}" placeholder="35~41(Celsius)"></td>#}
{#            <td><input type="text" name="TP_{{ 2 }}" placeholder="35~41(Celsius)"></td>#}
{#            <td><input type="text" name="TP_{{ 3 }}" placeholder="35~41(Celsius)"></td>#}
{#            <td><input type="text" name="TP_{{ 4 }}" placeholder="35~41(Celsius)"></td>#}
{#            <td><input type="text" name="TP_{{ 5 }}" placeholder="35~41(Celsius)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="TP_{{ i }}" placeholder="35~41"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Systolic BP</td>#}
{#            <td><input type="text" name="SystolicBP_{{ 0 }}" placeholder="<250(mmHg)"></td>#}
{#            <td><input type="text" name="SystolicBP_{{ 1 }}" placeholder="<250(mmHg)"></td>#}
{#            <td><input type="text" name="SystolicBP_{{ 2 }}" placeholder="<250(mmHg)"></td>#}
{#            <td><input type="text" name="SystolicBP_{{ 3 }}" placeholder="<250mmHg)"></td>#}
{#            <td><input type="text" name="SystolicBP_{{ 4 }}" placeholder="<250(mmHg)"></td>#}
{#            <td><input type="text" name="SystolicBP_{{ 5 }}" placeholder="<250(mmHg)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="SystolicBP_{{ i }}" placeholder="<250"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Mean BP</td>#}
{#            <td><input type="text" name="MeanBP_{{ 0 }}" placeholder="<200(mmHg)"></td>#}
{#            <td><input type="text" name="MeanBP_{{ 1 }}" placeholder="<200(mmHg)"></td>#}
{#            <td><input type="text" name="MeanBP_{{ 2 }}" placeholder="<200(mmHg)"></td>#}
{#            <td><input type="text" name="MeanBP_{{ 3 }}" placeholder="<200(mmHg)"></td>#}
{#            <td><input type="text" name="MeanBP_{{ 4 }}" placeholder="<200(mmHg)"></td>#}
{#            <td><input type="text" name="MeanBP_{{ 5 }}" placeholder="<200(mmHg)"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="MeanBP_{{ i }}" placeholder="<200"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>MSI</td>#}
{#            <td><input type="text" name="MSI_{{ 0 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="MSI_{{ 1 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="MSI_{{ 2 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="MSI_{{ 3 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="MSI_{{ 4 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="MSI_{{ 5 }}" placeholder="<230"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="MSI_{{ i }}" placeholder="<230"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            <tr>#}
{#                <td>eGFR</td>#}
{#            <td><input type="text" name="eGFR_{{ 0 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="eGFR_{{ 1 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="eGFR_{{ 2 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="eGFR_{{ 3 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="eGFR_{{ 4 }}" placeholder="<230"></td>#}
{#            <td><input type="text" name="eGFR_{{ 5 }}" placeholder="<230"></td>#}
{#                {% for i in ID %}#}
{#                    <td><input type="text" name="eGFR_{{ i }}" placeholder="<230"></td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}

    </form>
</body>
</html>
