<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=”UTF-8">
    <title>patient</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='/static/assets/css/main.css'>
		<noscript><link rel="stylesheet" type="text/css" href="/static/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
<div class="header" style="position:relative;top: 17%;justify-content: center;vertical-align:center;">
        <a class="home" href="/homepage/"style="height: 42px;text-align-all: center;"><i class="fa fa-home" style="margin-top:0px;color:white;font-size:42px" title="home"></i></a>
    </div>
<article style="top: 20%;position: relative;height: 50rem; ">

    <h1 align="center">Predict Result:</h1>
        {% if aki == 1 %}
            <h1 align="center">AKI</h1>
        {% endif %}
        {% if aki  == 0 %}
            <h1 align="center">No AKI</h1>
        {% endif %}

<p style="text-align: center;font-size: 30px">Age : {{ feature.age }} (Years) , Weight : {{ feature.weight }} (kg) , Gender : {{ feature.gender }}</p>
<details style="overflow: scroll;">
<summary>病患詳細檢測資料</summary>
    <table class="content-table" id="datatable" border="1" style="background-color: rgba(129,199,212,55);font-size:20px;width: 100%;overflow: scroll;">
        <thead>
            <tr>
                <th>feature</th>
                <th>24hrs~20hrs ago</th>
                <th>20hrs~16hrs ago</th>
                <th>16hrs~12hrs ago</th>
                <th>12hrs~8hrs ago</th>
                <th>8hrs~4hrs ago</th>
                <th>4hrs~0hrs ago</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Creatinine (mg/dl)</td>
                {% for data in feature.creatinine %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Intake (ml)</td>
                {% for data in feature.intake %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Urine (ml)</td>
                {% for data in feature.urine %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>pH</td>
                {% for data in feature.pH %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Hct (%)</td>
                {% for data in feature.Hct %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>BUN (mg/dl)</td>
                {% for data in feature.BUN %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Na (mmol/L)</td>
                {% for data in feature.Na %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>K (mmol/L)</td>
                {% for data in feature.K %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Temperature (Celsius)</td>
                {% for data in feature.TP %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Systolic BP (mmHg)</td>
                {% for data in feature.systolicBP %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Mean BP (mmHg)</td>
                {% for data in feature.meanBP %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>MSI</td>
                 {% for data in feature.MSI %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>eGFR</td>
                {% for data in feature.eGFR %}
                    {% if data != '' %}
                        <td>{{ data }}</td>
                    {% else %}
                        <td style="background-color: rgba(46,169,223,0.85)"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</details>
</article>
</div>
<footer id="footer" >
                <p class="copyright"style="float: right">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
        </div>
        <div id="bg"></div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
</body>
</html>
