<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>RegisterPage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href='/static/assets/css/main.css'>
    <noscript><link rel="stylesheet" type="text/css" href="/static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <div id="wrapper" style="justify-content: center;align-items: center;">
        <form action="" method="post">
            <h1>註冊新帳號</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <label for="username">用戶名稱:</label>
            <input type="text" name="username" value="" id="username"> <br />
            <label for="password">用戶密碼:</label>
            <input type="password" name="password" value="" id="password"> <br />
            <input type="submit" value="註冊">
        </form>

    </div>
        <div id="bg"></div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

</body>

</html>