<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>StartPage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href='/static/assets/css/main.css'>
		<noscript><link rel="stylesheet" type="text/css" href="/static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <div id="wrapper" >
{#        <img src="/static/images/kidneyw.png" width="50"/>#}
{#        <a herf="/login/"><img src="/static/images/kidneyw.png" width="50"/></a>#}
{#        <button style="background-image: url('/static/images/kidneyw.png');height: 50rem;" ></button>#}
        <form action="/login/" method="post" style="position: fixed;margin-top: 15%;">
            {% csrf_token %}
{#            <button style="background-image: url('/static/images/kidneyw.png');height: 830px;width: 980px;" ></button>#}
{#                <input type="image" src="/static/images/kidneyw.png" width="50" style="alignment: center" onClick="document.createEvent(onsubmit);"/>#}
{#            <input type="image" src="/static/images/kidneyw.png" style="margin-left: 40%;margin-top: 10%; width:20%;" onClick="document.createEvent(onsubmit);"/>#}
            <input type="image" src="https://img.icons8.com/plasticine/100/000000/treatment-plan.png" style="margin-left: 40%;margin-top: 10%; size: 100px;" onClick="document.createEvent(onsubmit);"/>
        </form>

    </div>
        <div id="bg"></div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

</body>

</html>
