<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset=" utf-8">
{#<meta name="author" content="http://www.softwhy.com/" />#}
<title>蚂蚁部落</title>

<style type="text/css">
table {
  border: 0;
  border-collapse: collapse;
}
td {
  font: normal 12px/17px Arial;
  padding: 2px;
  width: 100px;
}
th {
  font: bold 12px/17px Arial;
  text-align: left;
  padding: 4px;
  border-bottom: 1px solid #333;
  width: 100px;
}
.parent {
  background: #FFF38F;
  cursor: pointer;
}
.odd {
  background: #FFFFEE;
}
.selected {
  background: #FF6500;
  color: #fff;
}
</style>
{#<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>#}
{#<script type="text/javascript">#}
{#$(function(){#}
{#  $("tr.parent").click(function(){#}
{#    $(this).toggleClass('selected').siblings('.child_'+this.id).toggle();#}
{#  })#}
{#})#}
{#</script>#}
</head>
<body>
<details>
  <table>
    <thead>
      <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>暂住地</th>
      </tr>
    </thead>
    <tbody>
      <tr class="parent" id="row_01">
        <td colspan="3">前台设计组</td>
      </tr>
      <tr class="child_row_01" data-toggle="collapse"style="">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="child_row_01">
        <td>李四</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="parent" id="row_02">
        <td colspan="3">前台设计组</td>
      </tr>
      <tr class="child_row_02">
        <td>王五</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="child_row_02">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="parent" id="row_03">
        <td colspan="3">前台设计组</td>
      </tr>
      <tr class="child_row_03">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="child_row_03">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="parent" id="row_04">
        <td colspan="3">前台设计组</td>
      </tr>
      <tr class="child_row_04">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="child_row_04">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
      <tr class="parent" id="row_05">
        <td colspan="3">前台设计组</td>
      </tr>
      <tr class="child_row_05">
        <td>张山</td>
        <td>男</td>
        <td>浙江</td>
      </tr>
    </tbody>
  </table>
    </details>
</body>
</html>